* {
	margin: 0;
	padding: 0;

}

body {
	font-size: 50px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

strong {
	padding: 0 20px;
}

#mouse, #description, #randomnote,strong {
	font-size: 20px;
}

#description {
	padding-bottom: 20px;
}

canvas {
	background-color: black;
}

#randomnote {
	display: flex;
	justify-content: center;
	text-align: center;
}

#startgame {
	padding: 2%;
	background-color: black;
	color: white;
}

